{% extends "base.html" %}

{% load i18n %}

{% block title %}Pets - {{ block.super }}{% endblock %}

{% block content %}
<h1>Pets</h1>
  <a href="{% url 'pet-create' %}" class="btn btn-primary">Add new Pet</a>
<ul>
{% for pet in pet_list %}
  <li>
    <a href="{% url 'pet-detail' pk=pet.pk %}">{{ pet.name }}</a>
  </li>
{% empty %}
  <li>No pets added yet!</li>
{% endfor %}
</ul>
{% endblock content %}
