{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ pet.name }} - {{ block.super }}{% endblock %}

{% block content %}
<h1>{{ pet.name }}</h1>
  <a href="{% url 'pet-update' pk=pet.pk %}" class="btn btn-primary">Edit</a>
  <a href="{% url 'pet-delete' pk=pet.pk %}" class="btn btn-danger">Delete</a>
  <figure>
    <img src="{{ pet.photo.url }}" alt="{{ pet.name }}">
  </figure>
  <p>Age: {{ pet.age }}</p>
  <p>Breed: {{ pet.breed }}</p>
{% endblock content %}
