{% extends "base.html" %}

{% load i18n crispy_forms_tags %}

{% block title %}{% if pet %}Update {{ pet.name }}{% else %}Add new Pet{% endif %} - {{ block.super }}{% endblock %}

{% block content %}
  <h1>{% if pet %}Update {{ pet.name }}{% else %}Add new Pet{% endif %}</h1>
  <form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
{% endblock content %}
