{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ pet.name }} - {{ block.super }}{% endblock %}

{% block content %}
  <h1>{{ pet.name }}</h1>
  <form action="" method="post">
  {% csrf_token %}
  {{ form.as_div }}
    <div class="alert alert-danger">Are you sure you want to delete <strong>{{ pet.name }}</strong></div>
  <button type="submit" class="btn btn-warning">Remove</button>
  </form>
{% endblock content %}
