{% extends 'base.html' %}

{% block title %}Comments · Blog Posts · {{ block.super }}{% endblock title %}

{% block content %}
  <h1>Comments waiting for approval</h1>
  {% for comment in comments %}
    <p>{{ comment.user.get_full_name }}</p>
    <p>{{ comment.comment }}</p>
  {% endfor %}
{% endblock content %}