{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Add Blog Post · {{ block.super }}{% endblock title %}

{% block content %}
{% if post %}
<h1>Update <small>{{ post.title }}</small></h1>
{% else %}
<h1>Add new Post</h1>
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock content %}