{% extends 'base.html' %}

{% block title %}Remove {{ post.title }} · Blog Posts · {{ block.super }}{% endblock title %}

{% block content %}
<h1>Remove {{ post.title }}</h1>
<form action="" method="post">
    {% csrf_token %}
    <div role="alert" class="alert alert-danger">
        Are you sure you want to remove <strong>{{ post.title }}</strong>?
        <br>
        This action is not reversible!!!
    </div>
    <button type="submit" class="btn btn-danger">Yes, I am Sure!</button>
</form>
{% endblock content %}