{% extends 'base.html' %}

{% block title %}{{ post.title }} · Blog Posts · {{ block.super }}{% endblock title %}

{% block content %}
<div class="d-flex justify-content-between align-items-center">
    <h1>{{ post.title }}</h1>
    <div>
        <a href="{% url 'post-edit' slug=post.slug %}" class="btn btn-secondary">Edit</a>
        <a href="{% url 'post-delete' slug=post.slug %}" class="btn btn-danger">Delete</a>
    </div>
</div>
<div class="d-flex justify-content-between">
    <p>Published on: {{ post.published_at }}</p>
    <p>Category: {{ post.category.name }}</p>
    <p>Author: {{ post.author.get_full_name }}</p>
</div>

<div>{{ post.body }}</div>
  <hr>
  <h4>Comments</h4>
  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_div }}
    <button type="submit" class="btn btn-primary">Comment</button>
  </form>
  <hr>
  {% for comment in comments %}
    <div>
      <p>
        <strong>{{ comment.user.get_full_name }}</strong>
      </p>
      <p>{{ comment.comment }}</p>
    </div>
  {% endfor %}
{% endblock content %}