{% extends 'base.html' %}

{% block title %}Blog Posts · {{ block.super }}{% endblock title %}

{% block content %}
<div class="d-flex justify-content-between align-items-center">
    <h1>Blog Posts</h1>
    <a href="{% url 'post-add' %}" class="btn btn-primary">Add new Post</a>
</div>
{% for post in posts %}
    <article>
        <header>
            <h2>
                <a href="{% url 'post-detail' slug=post.slug %}">{{ post.title }}</a>
                {% if post.category %}
                <small>({{ post.category.name }})</small>
                {% endif %}
            </h2>
        </header>
        <section>
            {{ post.body|truncatewords:"3" }}
        </section>
    </article>
{% empty %}
    <div class="alert alert-warning" role="alert">
      No articles have been published yet!
    </div>
{% endfor %}
{% endblock content %}