{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Sign In · {{ block.super }}{% endblock title %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center">
    <h1>Sign In</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-grid">
            <button type="submit" class="btn btn-primary">Sign In</button>
        </div>
    </form>
</div>
{% endblock content %}