{% extends 'base.html' %}

{% block title %}About Us · {{ block.super }}{% endblock title %}


{% block content %}
  <div class="d-flex justify-content-between align-items-center">
    <h1>Hello from About Us!</h1>
    <p>You have viewed this page {{ request.session.views.about }} times</p>
  </div>
{% endblock content %}