{% extends 'base.html' %}

{% block title %}Contact Us · {{ block.super }}{% endblock title %}


{% block content %}
<div class="d-flex justify-content-between align-items-center">
    <h1>Contact Us!</h1>
    <p>You have viewed this page {{ request.session.views.contact }} times</p>
  </div>
{% endblock content %}