{% extends 'base.html' %}

{% block title %}Privacy Policy · {{ block.super }}{% endblock title %}


{% block content %}
<div class="d-flex justify-content-between align-items-center">
    <h1>Privacy Policy</h1>
    <p>You have viewed this page {{ request.session.views.privacy }} times</p>
  </div>
{% endblock content %}