{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Volunteer · {{ block.super }}{% endblock title %}

{% block content %}
  <h1>Volunteer</h1>
  <form action="" method="post" novalidate>
    {% csrf_token  %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-danger">
      Volunteer
    </button>
  </form>

{% endblock content %}
