<!doctype html>{% load static %}
<html lang="en" class="h-100" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Learning Django">
    <meta name="author" content="Python TR 14">
    <title>{% block title %}Marketplace.al{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <meta name="theme-color" content="#712cf9">
    <link href="{% static 'styles/styles.css' %}" rel="stylesheet">
  </head>
  <body class="d-flex flex-column h-100">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'product-list' %}">
            marketplace.al
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'product-list' %}">Items</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about-us' %}">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'privacy-policy' %}">Privacy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact-us' %}">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'post-list' %}">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'pet-list' %}">Pets</a>
              </li>
              {% if perms.blog.can_approve_comment %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'show-comments' %}">Comments</a>
              </li>
              {% endif %}
            </ul>
            <div>
              {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="btn btn-secondary">
                  <i class="bi bi-box-arrow-right"></i>
                  Sign Out
                </a>
                <a href="" class="btn btn-info">
                  <i class="bi bi-person-fill"></i>
                  Profile
                  <span class="badge text-bg-danger">4</span>
                </a>
              {% else %}
                <a href="{% url 'login' %}" class="btn btn-warning">Sign in</a>
                <a href="" class="btn btn-info">Register</a>
              {% endif %}

              <a href="{% url 'product-add' %}" class="btn btn-danger">
                <i class="bi bi-plus-square-fill"></i>
                Add Product
              </a>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main class="flex-shrink-0">
      <div class="container">
        <div role="alert" class="alert alert-info">{{ current_ad }}</div>
        {% block content %}{% endblock content %}
      </div>
    </main>

    <footer class="footer mt-auto py-3 bg-body-tertiary">
      <div class="container">
        <p class="text-body-secondary text-center my-0">Copyright &copy; 2023 - PyTr14</p>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
  </body>
</html>