{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Add new Product {{ block.super }}{% endblock %}

{% block content %}
<h1>Add new Product</h1>
<hr>
<form action="" method="post" novalidate enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <hr>
    <h3>Tags</h3>
    {{ tag_formset.management_form|crispy }}
    {% for tag_form in tag_formset %}
        {{ tag_form|crispy }}
    {% endfor %}
    <hr>
    <h3>Pictures</h3>
    {{ pics_formset.management_form|crispy }}
    {% for pic_form in pics_formset %}
        {{ pic_form|crispy }}
    {% endfor %}
    <hr>
    <button type="submit" class="btn btn-primary btn-lg">
        <i class="bi bi-plus-lg"></i>
        Add
    </button>
</form>
{% endblock content %}
