{% extends 'base.html' %}

{% load i18n %}

{% block title %}{{ product.title }} · {{ block.super }}{% endblock title %}

{% block content %}
<div class="d-flex gap-4">
  <section>
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
      {% for pic in product.pictures.all %}
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" aria-current="true"{% endif %} aria-label="{{ pic.caption }}"></button>
      {% endfor %}
      </div>
      <div class="carousel-inner">
      {% for pic in product.pictures.all %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <img src="{{ pic.photo.url }}" class="d-block object-fit-cover w-100" alt="{{ pic.caption }}" style="height: 420px">
        </div>
      {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <h1>{{ product.title }}</h1>
    <p>{% translate 'Published on' %}: {{ product.published_at }}</p>
    <p>{{ product.price }} {{ product.currency }}</p>
    <div>
      {{ product.description }}
    </div>
    <p>
      {% for tag in product.tags.all %}
        {{ tag.key }}: {{ tag.value }}<br>
      {% endfor %}
    </p>
  </section>
  <section style="min-width: 240px">
    <h5>{{ product.user.get_full_name }}</h5>
    <p>{% translate 'member since' %} {{ product.user.date_joined }}</p>
    {% if not product.hide_telno %}
      <p>
        <i class="bi bi-telephone-outbound-fill"></i>
        {{ product.telno }}
      </p>
    {% endif %}
    <p class="d-grid">
      <a href="" class="btn btn-info">
        <i class="bi bi-chat-left-dots-fill"></i>
        {% translate 'Send Message' %}
      </a>
    </p>
  </section>
</div>
{% endblock content %}