{% extends "base.html" %}

{% load i18n %}

{% block title %}{% translate 'Products on Sale' %} - {{ block.super }}{% endblock %}

{% block content %}
<h1>{% translate 'Products on Sale' %}</h1>
<hr>
{% for product in products %}
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ product.pictures.first.photo.url }}" class="img-fluid rounded-start" alt="{{ product.title }}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
          <a href="{% url 'product-detail' slug=product.slug %}">{{ product.title }}</a>
        </h5>
        <p class="card-text">{{ product.description|truncatechars:140 }}</p>
        <p class="card-text">
        {% for tag in product.tags.all %}
            {{ tag.key }}: {{ tag.value }}<br>
        {% endfor %}
        </p>
        <p class="card-text"><small class="text-body-secondary">{% translate 'Published at' %}: {{ product.published_at }}</small></p>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock content %}
